<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <connectionStrings>
        <add name="RaceDB" connectionString="http://localhost:8080/" />
    </connectionStrings>
    <appSettings>
        <add key="dbName" value="TourDeFrance" />
    </appSettings>
</configuration>